<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <form action="/signin" method="post">
        <h1>Signin</h1>
        <div class="mb-3">
            <input type="email" class="form-control" placeholder="email" name="email">
        </div>
        <div class="mb-3">
            <input type="password" class="form-control" placeholder="password" name="password">
        </div>
        <button type="submit" class="btn btn-primary">signin</button>
    </form>

    Back to <a href="/signup">signup</a>

</body>

</html>